# sync-with-rclone.config - Project-specific settings for sync-with-rclone.sh
# Edit these variables to configure your sync job

REMOTE_NAME="rd"         # Name of the remote drive (already defined in rclone)
REMOTE_PATH="__test"     # Path within the remote drive
OPERATION="copy"         # Sync or copy operation for rclone
ALLOW_PULL=true          # Set to 'true' to allow pulling, 'false' to disable pulling
ALLOW_PUSH=true          # Set to 'true' to allow pushing, 'false' to disable pushing
RECORD_GIT_COMMIT=true   # Set to 'true' to record the latest commit hash in .git directories,
                         #     false to disable, .git will always be excluded

exclude=(
    # Array of patterns to exclude from syncing, can be written in multiple lines
    # https://rclone.org/filtering/#pattern-matching
    #
    # Examples:
    # "vary-large-data/" # will exclude the vary-large-data directory in root directory
    # "**/__pycache__/"  # Exclude all Python __pycache__ folders, in any location
    # "*.pyc"            # Exclude Python bytecode files
    #
    # The following are already excluded, you do not need to add them.
    # "**/.git/"
    # "**/__pycache__/"
    # "*.pyc"
    # "*.pyo"
    # "*.pyd"
    # "*.swp"
    # "*.swo"
    # "*.swn"
    # "*.bak"
    # "*.tmp"
)

# This file is **NOT** an universal config file, it will be sourced as
# a shell script, should work with bash and zsh.