# sync-with-rclone.config - Project-specific settings for sync-with-rclone.sh
# Edit these variables to configure your sync job

REMOTE_NAME="rd"         # Name of the remote drive (already defined in rclone)
REMOTE_PATH="__test"     # Path within the remote drive
OPERATION="copy"         # Sync or copy operation for rclone
                         # IMPORTANT: for 'sync' operation, additional files in
                         # target location will be deleted!!!!
ALLOW_PULL=true          # Set to 'true' to allow pulling, 'false' to disable pulling
ALLOW_PUSH=true          # Set to 'true' to allow pushing, 'false' to disable pushing
RECORD_GIT_COMMIT=true   # Set to 'true' to record the latest commit hash in .git directories,
                         #     false to disable, .git will always be excluded

# Specific excludes - project-specific patterns
# These are applied after includes/excludes from command line
exclude=(
    # Array of patterns to exclude from syncing, can be written in multiple lines
    # https://rclone.org/filtering/#pattern-matching
    #
    # Examples:
    # "very-large-data/" # will exclude the very-large-data directory in root directory
    # "data/*.csv"       # Exclude CSV files in data directory
)

# Global excludes - common files/folders that should never be synced
# These are applied first in the filter file
global_exclude=(
    "**/.git/**"
    ".git/**"
    "**/__pycache__/**"
    "__pycache__/**"
    "**/.mypy_cache/**"
    ".mypy_cache/**"
    "*.pyc"
    "*.pyo"
    "*.pyd"
    "*.swp"
    "*.swo"
    "*.swn"
    "*.bak"
    "*.tmp"
)

# This file is **NOT** an universal config file, it will be sourced as
# a shell script, should work with bash and zsh.